*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #000;
}

.grid-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: dense;
    margin: 10px;
    height: 100px;
    
}



.grid-item{
    margin: 7px;
    
}

.grid-item h1{
    color: #fff;
    font-size: 50px;
}

/*Aqui estan los iconos de sesion y demas*/

.icon{
    grid-column: 1/span 4;
}

#grid-icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 20px);
        
}

#grid-icon > div{
    padding: 20px;
    color: #fff;
    text-align: center;
}

#grid-icon > div:nth-child(1){
    grid-column: 1/span 1;
    grid-row: 1/span 2;
        
}

#grid-icon > div:nth-child(2){
    grid-column: 2/span 2;
    grid-row: 1/span 2;
    text-align: left;    
}

#grid-icon > div> img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
}

#grid-icon > div:nth-child(3){
    grid-column: 4/span 1;
    grid-row: 1/span 2;    
}

#grid-izicon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 20px);
    
}

#grid-izicon > div:nth-child(1){
    grid-column: 3/span 1;
}

#grid-izicon > div:nth-child(2){
    grid-column: 3/span 1;
    grid-row: 2/span 1;
}

#grid-izicon > div > a{
   color: #fff;
}

/*aqui termina iconos*/


.grid-item h2{
    color: #fff;
    text-align: center;
}

.grid-item h3{
    color: #fff;
    padding: 7px;
    text-align: center;
}


/*Aqui comienzan las imagenes*/
.imagenes{
    grid-column: 1/ span 4;
    grid-row: 6/span 3;
    height: 100%;
}

#grid-imagenes{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    height: 100%;
    
}

#grid-imagenes > div{
    background-image: url(https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    
            
}

#grid-imagenes > div > img{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 300ms;
        
}

#grid-imagenes img:hover{
    transform: scale(1.10);
}


#grid-imagenes > div:nth-child(1){
    grid-row: 1/span 2;
}

#grid-imagenes > div:nth-child(2){
    grid-column: 2/span 2;
    grid-row: 1/span 2;
}

/*aqui comienza el formulario*/

#grid-formulario{
    background-color: #000;
}

.form_input{
    width: 90%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #5dd;
    background-color: transparent;
    color: #fff;
}


/*Aqui empiezan los botones*/

.grid-item:nth-child(5){
    grid-column: 1/span 4;
}

#grid-boton{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
        
}

#grid-boton > div:nth-child(1){
    grid-column: 3 /span 1;
    text-align: right;
}

#grid-boton > div:nth-child(1){
    text-align: center;
}

.btn1{
    padding: 20px;
    width: 140px;
}

.btn1:hover{
    background-color: #6b996d;
    transition: 1s;
}

/*aqui terminan botones*/


/*Aqui comienza el footer*/
.footer{
    grid-column: 1 / span 4;
}

#grid-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    
}

#grid-footer > div{
    color: #fff;
    text-align: center;
    padding: 2px;
}

#grid-footer > div:nth-child(1){
    grid-column: 1/ span 2;
}

#grid-footer > div:nth-child(2){
    grid-column: 3 / span 2;
    
}

#grid-footer > div:nth-child(3){
    grid-column: 1 / span 4;
    
}

/*aqui empiezan las redes sociales*/

#grid-redes{    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}

#grid-redes > div:nth-child(1){
    grid-column: 2 / span 1;
    text-align: justify;
}

#grid-redes > div:nth-child(2){
    grid-column: 3 / span 1;
    text-align: left;
}

#grid-redes > div > i{
    color: aqua;
}